numpy >= 1.14.2
scipy
scikit-learn
pandas
geopandas
shapely
descartes
matplotlib
rtree
pygam
requests
pygdal == $(gdal-config --version) --global-option=build_ext --global-option="-I/usr/include/gdal"

# For tests
nose
