pygdal == 1.10.1 --global-option=build_ext --global-option="-I/usr/include/gdal"
numpy >= 1.14.2
scipy
scikit-learn
pandas
geopandas
shapely
descartes
matplotlib
rtree
pygam
requests

# For tests
nose
